.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    margin-bottom: 20px;
    
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    cursor: pointer;
  }

a {
    text-decoration: none;
}