body {
  background-color: #846a6a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 20dvh;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  color: #000;
  font-size: 40px;
}

a {
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3dvh;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 35px;
  transition: background-color 0.3s, color 0.3s;
}

.benevole {
  background-color: #3498db;
  color: #fff;
}

.login {
  background-color: #e74c3c;
  color: #fff;
}

.button:hover {
  background-color: #2980b9;
}

body {
  background-color: #846a6a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

h1 {
  color: #000;
  font-size: 40px;
}

a {
  text-decoration: none;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 5px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 35px;
  transition: background-color 0.3s, color 0.3s;
}

.benevole {
  background-color: #3498db;
  color: #fff;
}

.login {
  background-color: red;
  color: #fff;
}

.button:hover {
  background-color: #2980b9;
}

.login:hover {
  background-color: #cb2b19;
}
