body {
  background-color: #a2999e;
  font-family: "Jacques Francois", serif;
  font-size: 22px;
}

h1 {
  font-size: auto;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}
